KeysAutoclicker/bin/
KeysAutoclicker/obj/
Release/
portable/

Installer/obj/
ClickAway/ClickAway.pdb
ClickAway/Data/clickaway.log
ClickAway/Data/settings.json
ClickAway/
Click Away Portable v1.6/
Click Away Portable v1.6 Mouse Update/
Click Away Portable v1.6 UI Update/
Click Away Portable v1.7.1/*.zip
